// *************************************
//
//   Table Layout
//   -> Data Table
//
// *************************************

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  font-weight: normal;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.changeUpIncrease,
.changeDownDecrease,
.valuePositivePositive,
.valueNegativeNegative {
  color: $color_condition_positive;
}

.changeUpDecrease,
.changeDownIncrease,
.valuePositiveNegative,
.valueNegativePositive {
  color: $color_condition_negative;
}
