<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Google Spreadsheet Settings</title>

  <!-- build:css css/settings.min.css -->
  <link rel="stylesheet" href="components/common-style/dist/css/rise.min.css">
  <link rel="stylesheet" href="components/spectrum/spectrum.css">
  <link rel="stylesheet" href="components/bootstrap-select/bootstrap-select.css">
  <link rel="stylesheet" href="components/rv-bootstrap-formhelpers/dist/css/rv-bootstrap-formhelpers.css">
  <!-- endbuild -->

  <style type="text/css">
    body, html {
      background: transparent;
    }

    .text-validation {
      margin-top: -15px;
    }
  </style>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>

</head>
<body ng-app="risevision.widget.googleSpreadsheet.settings" ng-controller="settingsController">
  <div class="widget">
    <div class="overlay"></div>
    <div class="settings">
      <div class="settings-center">
        <div class="wrapper container modal-content" ng-controller="spreadsheetSettingsController" ng-cloak>
          <div class="modal-header">
            <h2 id="settings-title"> {{"settings" | translate }}
              <button id="settings-close" type="button" class="close" ng-click="closeSettings()">
                <span>&times;</span>
                <span class="sr-only">Close</span>
              </button>
            </h2>
            <div class="sticky-wrapper">
              <widget-button-toolbar
                save="saveSettings()" cancel="closeSettings()" disable-save="settingsForm.$invalid"
                help="http://www.risevision.com/help/users/what-are-gadgets/free-gadgets/rise-vision-google-spreadsheet/"
                contribute="https://github.com/Rise-Vision/widget-google-spreadsheet"></widget-button-toolbar>
            </div>
          </div>
          <form role="form" name="settingsForm">
            <div ng-class="{'form-group':true, 'has-error':settingsForm.spreadsheet.$invalid}">
              <spreadsheet-controls name="spreadsheet" spreadsheet="settings.additionalParams.spreadsheet"
                                    ng-model="spreadsheetselector" required></spreadsheet-controls>
              <p class="text-danger text-validation" ng-show="settingsForm.spreadsheet.$error.required">
                {{"validation.spreadsheet.required" | translate}}
              </p>
            </div>
            <column-selector columns="settings.additionalParams.columns" column-names="sheetColumns"></column-selector>
            <scroll-setting scroll="settings.additionalParams.scroll"></scroll-setting>
            <table-setting table="settings.additionalParams.table"></table-setting>
            <background-setting background="settings.additionalParams.background"></background-setting>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- build:js js/settings.min.js -->
  <script src="components/angular-translate/angular-translate.js"></script>
  <script src="components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
  <script src="components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
  <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="components/bootstrap-select/bootstrap-select.js"></script>
  <script src="components/rv-bootstrap-formhelpers/dist/js/rv-bootstrap-formhelpers.js"></script>
  <script src="components/spectrum/spectrum.js"></script>

  <script src="config/config.js"></script>
  <script src="settings/settings-app.js"></script>
  <script src="components/widget-settings-ui-core/dist/widget-settings-ui-core.js"></script>
  <script src="settings/ctr-google-spreadsheet-settings.js"></script>
  <script src="settings/svc-columns-settings.js"></script>

  <script src="components/widget-settings-ui-components/dist/js/angular/widget-button-toolbar.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/tooltip.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/alignment.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/alignment.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/color-picker.js"></script>

  <script src="components/widget-settings-ui-components/dist/js/url-field.js"></script>
  <script src="components/bootstrap-form-components/dist/js/bootstrap-font-picker.js"></script>
  <script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-picker.js"></script>
  <script src="components/bootstrap-form-components/dist/js/bootstrap-font-size-picker.js"></script>
  <script src="components/bootstrap-form-components/dist/js/angular/bootstrap-font-size-picker.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/font-style.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/font-style.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/font-setting.js"></script>

  <script src="components/google-drive-picker/dist/js/angular/google-drive-picker.js"></script>
  <script src="components/google-spreadsheet-controls/dist/js/angular/google-spreadsheet-controls.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/column-selector.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/column-setting.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/scroll-setting.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/table-setting.js"></script>
  <script src="components/widget-settings-ui-components/dist/js/angular/background-setting.js"></script>
  <!-- endbuild -->

  <!-- build:e2eTestApp -->
  <!-- endbuild -->

  <!-- build:e2eAngularMocks -->
  <!-- endbuild -->

  <!-- build:e2egadgets -->
  <script src="//rvashow2.appspot.com/gadgets/gadgets.min.js"></script>
  <!-- endbuild -->

  <script src="//s3.amazonaws.com/rise-common/scripts/i18next/i18next.min.js"></script>

  <!-- build:e2eSpreadsheetHTTP -->
  <!-- endbuild -->

  <!-- build:e2ePicker -->
  <script src="//apis.google.com/js/client.js?onload=handleClientJSLoad"></script>
  <!-- endbuild -->

  <!-- build:e2eVisualization -->
  <script src="//www.google.com/jsapi"></script>
  <script>
    google.load("visualization", "1");
  </script>
  <!-- endbuild -->

  <!-- build:e2eAppReplace -->
  <!-- endbuild -->

</body>
</html>
